IDEDocumentationWindow.xcuserstate
IDEEditorInteractivityHistory
IDEPreferencesController.xcuserstate
IDELibraryWindowController.xcuserstate
IDEFindNavigatorScopes.plist
IB Support/
Portal/
KeyBindings/
Previews/
LICENSE
README.md